<ion-header>
	<ion-navbar>
		<ion-title>
			add-place
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<form #addPlaceForm="ngForm" (ngSubmit)="onSubmit(addPlaceForm)" novalidate>
		<ion-list>
			<ion-item>
				<ion-label fixed color="secondary">Title</ion-label>
				<ion-input type="text" name="placeTItle" ngModel placeholder="Place Title..." required></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating color="secondary">Description</ion-label>
				<ion-textarea name="placeDescription" ngModel required></ion-textarea>
			</ion-item>
		</ion-list>
		<ion-grid>
			<ion-row>
				<ion-col>
					<button ion-button icon-right block outline type="button" (click)="onLocateHere()">
						Locate Here
						<ion-icon name="bicycle"></ion-icon>
					</button>
				</ion-col>
				<ion-col>
					<button ion-button icon-left block outline type="button" color="metagole" (click)="openMapChoosePlace()">
						<ion-icon name="bulb"></ion-icon>
						Select on Map
					</button>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="locationIsSet">
				<ion-col>
					<agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="zoomVal">
						<agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
					</agm-map>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="!locationIsSet">
				<ion-col>
					<ion-note text-right class="fz2em">
						Waiting u select location...
					</ion-note>
				</ion-col>
			</ion-row>
			<ion-row>
				<button ion-button icon-right outline block type="button" (click)="onTakePhoto()">
					Open Camera
					<ion-icon name="camera"></ion-icon>
				</button>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-note *ngIf="!imgUrl" class="fz2em">
						Camera has to test in real device, so I cannot do it, I donot have licience.
					</ion-note>
					<img [src]="imgUrl" alt="photoshop-u-take" *ngIf="imgUrl" />
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<!-- disable should has || imgUrl === '', but i cannot test it, so forget about it. -->
					<button ion-button block outline icon-right type="submit" color="secondary" [disabled]="!addPlaceForm.valid || !locationIsSet">
						Add This Place
						<ion-icon name="map"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>

</ion-content>
